<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        Link 1
                    </a>
                </li>
                <li>
                    <a href="#">
                        Link 2
                    </a>
                </li>
                <li>
                    <a href="#">
                        Link 3
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            <!-- &copy; -->
            <script>
                //document.write(new Date().getFullYear())
            </script>Developed by
            <a href="http://www.nirnejak.com" target="_blank">Code-Cuisers</a>.
        </div>
    </div>
</footer>