<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/tellme.js
       tellme.initDashboardPageCharts();
    });

    function showDiv(dir){
        $.get("/"+dir)
            .done(function(data){
                // Changing Content
                $(".content").html(data);
                
                // Activating the right SideBar Button
                $("li").removeClass('active');
                $("#"+dir).addClass('active');
                
                // Setting the Heading of the Section
                $(".navbar-brand").html(dir);

                // changing the size of the Header and Removing the Chart
                if($("#bigDashboardChart").length){
                    $(".panel-header").html('');
                    $(".panel-header").removeClass('panel-header-lg');
                    $(".panel-header").html("<div class=\"header text-center\"><h2 class=\"title\" style=\"text-transform: uppercase;\">"+dir+"</h2><p class=\"category\">Hello</p></div>");
                }
            })
            .fail(function( jqXHR, textStatus, errorThrown ) {
                showNotification('top','center','danger','no internet connection')
            });;
    }
    
    new Chart(document.getElementById("chartjs-4"),{
            "type":"doughnut",
            "data":{
                "labels":["Canal","Pump","River","Other"],
                "datasets":[{
                    "label":"",
                    "data":[300,100,50,50],
                    "backgroundColor":[
                        "rgb(255, 99, 132)",
                        "rgb(54, 162, 235)",
                        "rgb(255, 205, 86)",
                        "rgb(10, 199, 0)"
                    ]
                }]
            },
            options: {
                 legend: {
                    display: false,
                    position : "bottom"
                 },
                 tooltips: {
                    enabled: true
                 }
            }
        }
    );



      $('#world-map-gdp').vectorMap({
        map: 'world_mill',
        series: {
          regions: [{
            values: gdpData,
            scale: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial'
          }]
        },
        onRegionTipShow: function(e, el, code){
          el.html(el.html()+' (GDP - '+gdpData[code]+')');
        }
      });
</script>