<div class="sidebar" data-color="blue">
    <div class="logo">
        <a class="simple-text logo-mini">
            <img src="{{ url_for('static', filename='img/logoOld.png') }}">
        </a>
        <a class="simple-text logo-normal">
            TellMe
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="/dashboard">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="/visualize">
                    <i class="now-ui-icons business_chart-pie-36"></i>
                    <p>Visualize</p>
                </a>
            </li>
            <li>
                <a href="/geomaps">
                    <i class="now-ui-icons location_map-big"></i>
                    <p>Geo Maps</p>
                </a>
            </li>
            <li>
                <a href="/export">
                    <i class="now-ui-icons files_paper"></i>
                    <p>Export Data</p>
                </a>
            </li>
            <li>
                <a href="/user">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>User Control</p>
                </a>
            </li>
            <li>
                <a href="/message">
                    <i class="now-ui-icons ui-1_email-85"></i>
                    <p>Message Broadcast</p>
                </a>
            </li>
            <!--
            <li class="active-pro">
                <a href="/settings">
                    <i class="now-ui-icons loader_gear"></i>
                    <p>Settings</p>
                </a>
            </li>
            -->
        </ul>
    </div>
</div>