{% extends 'layout.html' %}

{% block body %}

    <div class="panel-header">
        <div class="header text-center">
            <h2 class="title">Export</h2>
            <p class="category">Export all the data in Desired Format</p>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card animated fadeInUp">
                    <div class="card-header">
                        <h4 class="card-title">Export Data</h4>
                    </div>
                    <div class="card-body" style="padding: 50px;">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Date From</label>
                                    <input type="date" name="dateFrom" class="form-control" id="dateFrom">
                                </div>
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Date To</label>
                                    <input type="date" name="dateTo" class="form-control" id="dateTo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>State</label>
                                    <select name="state" class="form-control" id="state">
                                        <option value="all">All</option>
                                        {% for state in data.stateData %}
                                            <option value="{{ state }}">{{ state }}</option>
                                        {% endfor%}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>District</label>
                                    <select name="district" class="form-control" id="district">
                                        <option value="all">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Crop</label>
                                    <select name="crop" class="form-control" id="crop">
                                        <option value="all">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Source of Irrigation</label>
                                    <select name="source" class="form-control" id="source">
                                        <option value="all">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <!--
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <button type="submit" class="form-control bg-danger text-white" onclick="exportData('xls')"><strong>Export (.xls)</strong></button>
                                </div>
                            </div>
                            -->
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <button type="submit" class="form-control bg-success text-white"><strong>Export (.csv)</strong></button>
                                </div>
                            </div>
                            <!--
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <button type="submit" class="form-control bg-success text-white" onclick="exportData('json')"><strong>Export (.json)</strong></button>
                                </div>
                            </div>
                            -->
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function exportData(format){
            var dateFrom = $('#dateFrom').val();
            var dateTo = $('#dateTo').val();
            var state = $('#state').val();
            var district = $('#district').val();

            alert(dateFrom+" "+dateTo+" "+state+" "+district)
        }
    </script>

{% endblock %}

<!-- DateFrom -->
<!-- DateTo -->
<!-- State -->
<!-- District -->
<!-- CropType -->
<!-- Crop -->
<!-- Irrigation Source -->