{% extends 'layout.html' %}


{% block body %}
	<div class="panel-header">
        <div class="header text-center">
            <h2 class="title">Settings</h2>
            <p class="category"></p>
        </div>
    </div>
    <div class="content">
		<div class="row">
		    <div class="col-md-12">
		        <div class="card animated fadeInUp">
		            <div class="card-header">
		                <h4 class="card-title">Settings</h4>
		            </div>
		            <div class="card-body">
		                
		            </div>
		        </div>
		    </div>
		</div>
	</div>

{% endblock %}